/* .boss_menu {
  text-align: center;
  margin: 30px;
}
.boss_menu input {
  margin: 15px;
}

.timer_module {
  width: 600px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
}

.top {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.middle {
  display: flex;
  justify-content: space-around;
  border: none;
} */

@media (min-width: 650px) {
  .app {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .app {
    width: 90vw;
  }
}

body {
  background-color: #eeeeee;
}

.app {
  background-color: #ffffff;
  margin: 10px auto;
  padding: 15px;
  color: #000000;
}
.darkmode {
  background-color: #282828;
  color: #cccccc;
}

.menu {
  margin-bottom: 20px;
}

.menu input {
  margin: 4px;
}

.console {
  float: right;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
  background-color: #ffcc00;
  padding: 5px;
  font-weight: bold;
}

.phase_btn_selector {
  background-color: black;
  color: white;
}

/* Update */

.update header {
  font-weight: bold;
  margin-bottom: 20px;
}

.notice {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border-bottom: 1px outset gray;
  padding-bottom: 5px;
}
.date {
  flex: 1;
  font-weight: bold;
}

.desc {
  flex: 5;
  text-align: left;
  white-space: pre-wrap;
}
