.boss_menu {
  text-align: center;
  margin: 30px;
}
.boss_menu input {
  margin: 15px;
}

.timer_module {
  width: 600px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
}

.top {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.middle {
  display: flex;
  justify-content: space-around;
  border: none;
}
