@media (min-width: 1278px) {
  body {
    width: 1278px;
    height: 720px;
  }
  .background {
    display: flex;
  }
  .leftbar {
    flex: 1;
  }

  .app {
    flex: 2;
  }
  .rightbar {
    flex: 1;
  }
}
@media (min-width: 550px) and (max-width: 1278px) {
  .background {
    width: 100vw;
    display: flex;
  }

  .leftbar {
    flex: 1;
  }

  .app {
    flex: 2;
  }
  .rightbar {
    flex: 1;
  }
}

/* .item {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
} */

body {
  margin: auto;
  background-color: #eeeeee;
  overflow-x: hidden;
}

/* App */

.background {
  height: 90vh;
  align-items: flex-start;
}
.background > div {
  margin: 10px;
  background-color: #ffffff;
  padding: 15px;
}

.rightbar {
  background-clip: content-box; /*패딩 색 x*/
}

.menu {
  margin-bottom: 20px;
}

input {
  margin: 4px;
}

.console {
  float: right;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
  background-color: #ffcc00;
  padding: 5px;
  font-weight: bold;
}

.phase_btn_selector {
  background-color: black;
  color: white;
}

/* Update */

.update header {
  font-weight: bold;
  margin-bottom: 20px;
}

.notice {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border-bottom: 1px outset gray;
  padding-bottom: 5px;
}
.date {
  flex: 1;
  font-weight: bold;
}

.desc {
  flex: 5;
  text-align: left;
  white-space: pre-wrap;
}

/* DopingCheckList */

.dopingchecklist > div {
  border: 1px solid black;
  margin-top: 15px;
}
.title {
  font-weight: bold;
  position: relative;
  margin-left: 5px;
  top: -11px;
  background-color: white;
}
.checkbox {
  margin-bottom: 5px;
  background-color: #eeeeee;
}

input {
  cursor: pointer;
}
